.page {
  min-height: 100vh;
  background: #f4f8fd;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.top-bar {
  background: #0097b2;
  border-radius: 16px 16px 0 0;
  padding: 18px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar h2 {
  color: white;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

.menu-buttons {
  display: flex;
  gap: 12px;
}

.btn-ninera {
  background: white !important;
  color: #0097b2 !important;
  font-weight: 700;
  border-radius: 8px;
}

.table-container {
  background: #fffdf5;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 151, 178, 0.08);
}

.tabla-mensajes {
  width: 100%;
  background: #fffdf5;
}

.mat-mdc-header-row {
  background: #0097b2 !important;
}

.mat-mdc-header-cell {
  color: white !important;
  font-weight: 700;
  font-size: 15px;
}

.mat-mdc-row {
  background: #fffdf5 !important;
}

.mat-mdc-row:hover {
  background: #fff8e8 !important;
}

.mat-mdc-cell {
  color: #023047;
  font-size: 14px;
}

.btn-edit {
  background: #008aa6 !important;
  color: white !important;
  border-radius: 10px;
  min-width: 65px;
}

.btn-delete {
  background: #023047 !important;
  color: white !important;
  border-radius: 10px;
  min-width: 65px;
}

.btn-edit mat-icon,
.btn-delete mat-icon {
  color: white;
}

.mat-mdc-paginator {
  background: #fffdf5 !important;
  color: #023047;
}
